altgraph==0.17.4
bcrypt
Bottleneck
cffi
contourpy
cryptography==42.0.3
cycler
fonttools==4.25.0
greenlet
jaraco.classes==3.3.1
keyring==24.3.0
kiwisolver
matplotlib
more-itertools==10.2.0
munkres==1.1.4
numexpr
numpy
packaging
pandas
pefile==2023.2.7
pillow
ply
pycparser
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pyOpenSSL==24.0.0
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
python-dateutil
pytz
pywin32-ctypes==0.2.2
setuptools==68.2.2
sip
six
SQLAlchemy
tornado
typing_extensions
tzdata
wheel==0.41.2