altgraph
bcrypt
Bottleneck
cffi
contourpy
cryptography
cycler
fonttools
greenlet
jaraco.classes
keyring
kiwisolver
matplotlib
more-itertools
munkres
numexpr
numpy
packaging
pandas
pefile
pillow
ply
pycparser
pyinstaller
pyinstaller-hooks-contrib
pyOpenSSL
pyparsing
PyQt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
python-dateutil
pytz
pywin32-ctypes
setuptools
sip
six
SQLAlchemy
tornado
typing_extensions
tzdata
wheel